In [4]:
#!cp /Users/Lukasz/Desktop/kaggle.json /Users/Lukasz/.kaggle # kopiuję plik z kluczem api do foldera .kaggle

In [10]:
import pandas as pd
import kaggle
import zipfile

In [6]:
#chmod 600 /Users/Lukasz/.kaggle/kaggle.json # zabezpieczam plik przed widocznością dla innych urzytkowników

In [8]:
!kaggle datasets list -s 'pharma sales' # Przy użyciu api kaggle szukam bazy danych związanej ze sprzedarzą leków w firmie farmaceutycznej

ref                                                         title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
milanzdravkovic/pharma-sales-data                           Pharma sales data                                352KB  2020-01-05 18:14:22          25270        187  0.9117647
ybifoundation/pharma-drug-sales                             Pharma Drug Sales                                340KB  2023-02-26 06:03:07            490         65  0.47058824
sambunaren/pharmasalesdata                                  pharma-sales-data                                 282B  2020-09-24 14:59:27            189          5  0.125
shivamkapoor5034/pharmaceutical-monthly-sales               Pharmaceutical Monthly Sales                       2KB  2022-11-04 10:06:41            138          2  0.85294116
rohithsureddy/pharma-sales                                  Pharma Sales                                       2MB  2021-10-05 04:41:20            144          1  0.11764706
yogeshpandey1/pharma-sales-hourly                           Pharma sales hourly                              430KB  2023-05-03 09:35:26              6          0  0.11764706
bakasas/pharmaceutical-sales                                Pharmaceutical Sales                               2MB  2023-09-23 15:26:32              8          0  0.23529412
osamamohmed/data-analysis-presentation-of-pharmacies-sales  data analysis presentation of pharmacies sales    15MB  2023-08-19 07:41:11              3          0  0.125
galinaxoteenkova/pharma-sales                               pharma_sales                                     554MB  2022-01-13 19:12:53            189          4  0.23529412

### Wybieram bazę z nawyższym usability i pobieram ją

In [9]:
!kaggle datasets download -d milanzdravkovic/pharma-sales-data

Downloading pharma-sales-data.zip to /Users/Lukasz/Desktop/med_sales_proj
100%|████████████████████████████████████████| 352k/352k [00:00<00:00, 1.67MB/s]
100%|████████████████████████████████████████| 352k/352k [00:00<00:00, 1.66MB/s]

In [11]:
# Rozpakowuję zipa
with zipfile.ZipFile('pharma-sales-data.zip', 'r') as zipref: 
    zipref.extractall()

In [12]:
df_hourly = pd.read_csv('saleshourly.csv')
df_daily = pd.read_csv('salesdaily.csv')
df_weekly = pd.read_csv('salesweekly.csv')
df_monthly = pd.read_csv('salesmonthly.csv')

### Sprawdzam jak wyglądają dane

In [13]:
df_hourly.head()

,datum,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
0,1/2/2014 8:00,0.0,0.67,0.4,2.0,0.0,0.0,0.0,1.0,2014,1,8,Thursday
1,1/2/2014 9:00,0.0,0.00,1.0,0.0,2.0,0.0,0.0,0.0,2014,1,9,Thursday
2,1/2/2014 10:00,0.0,0.00,0.0,3.0,2.0,0.0,0.0,0.0,2014,1,10,Thursday
3,1/2/2014 11:00,0.0,0.00,0.0,2.0,1.0,0.0,0.0,0.0,2014,1,11,Thursday
4,1/2/2014 12:00,0.0,2.00,0.0,5.0,2.0,0.0,0.0,0.0,2014,1,12,Thursday

In [14]:
df_daily.head()

,datum,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
0,1/2/2014,0.0,3.67,3.4,32.40,7.0,0.0,0.0,2.0,2014,1,248,Thursday
1,1/3/2014,8.0,4.00,4.4,50.60,16.0,0.0,20.0,4.0,2014,1,276,Friday
2,1/4/2014,2.0,1.00,6.5,61.85,10.0,0.0,9.0,1.0,2014,1,276,Saturday
3,1/5/2014,4.0,3.00,7.0,41.10,8.0,0.0,3.0,0.0,2014,1,276,Sunday
4,1/6/2014,5.0,1.00,4.5,21.70,16.0,2.0,6.0,2.0,2014,1,276,Monday

In [15]:
df_weekly.head()

       datum  M01AB  M01AE  N02BA   N02BE  N05B  N05C   R03   R06
0   1/5/2014  14.00  11.67   21.3  185.95  41.0   0.0  32.0   7.0
1  1/12/2014  29.33  12.68   37.9  190.70  88.0   5.0  21.0   7.2
2  1/19/2014  30.67  26.34   45.9  218.40  80.0   8.0  29.0  12.0
3  1/26/2014  34.00  32.37   31.5  179.60  80.0   8.0  23.0  10.0
4   2/2/2014  31.02  23.35   20.7  159.88  84.0  12.0  29.0  12.0

In [16]:
df_monthly.head()

        datum   M01AB    M01AE    N02BA     N02BE   N05B  N05C    R03    R06
0  2014-01-31  127.69   99.090  152.100   878.030  354.0  50.0  112.0   48.2
1  2014-02-28  133.32  126.050  177.000  1001.900  347.0  31.0  122.0   36.2
2  2014-03-31  137.44   92.950  147.655   779.275  232.0  20.0  112.0   85.4
3  2014-04-30  113.10   89.475  130.900   698.500  209.0  18.0   97.0   73.7
4  2014-05-31  101.79  119.933  132.100   628.780  270.0  23.0  107.0  123.7

### Sprawdzam czy występują duplikaty duplikaty

In [22]:
df_hourly.shape, df_daily.shape, df_weekly.shape, df_monthly.shape

((50532, 13), (2106, 13), (302, 9), (70, 9))

In [24]:
df_hourly.drop_duplicates()
df_daily.drop_duplicates()
df_weekly.drop_duplicates()
df_monthly.drop_duplicates()
df_hourly.shape, df_daily.shape, df_weekly.shape, df_monthly.shape

((50532, 13), (2106, 13), (302, 9), (70, 9))

### Brak duplikatów