In [34]:
#!cp /Users/Lukasz/Desktop/kaggle.json /Users/Lukasz/.kaggle # kopiuję plik z kluczem api do foldera .kaggle

In [35]:
import pandas as pd
import kaggle
import zipfile

In [36]:
#chmod 600 /Users/Lukasz/.kaggle/kaggle.json # zabezpieczam plik przed widocznością dla innych urzytkowników

In [37]:
!kaggle datasets list -s 'pharma sales' # Przy użyciu api kaggle szukam bazy danych związanej ze sprzedarzą leków w firmie farmaceutycznej

ref                                                         title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
milanzdravkovic/pharma-sales-data                           Pharma sales data                                352KB  2020-01-05 18:14:22          25321        187  0.9117647
ybifoundation/pharma-drug-sales                             Pharma Drug Sales                                340KB  2023-02-26 06:03:07            491         65  0.47058824
sambunaren/pharmasalesdata                                  pharma-sales-data                                 282B  2020-09-24 14:59:27            189          5  0.125
shivamkapoor5034/pharmaceutical-monthly-sales               Pharmaceutical Monthly Sales                       2KB  2022-11-04 10:06:41            138          2  0.85294116
rohithsureddy/pharma-sales                                  Pharma Sales                                       2MB  2021-10-05 04:41:20            144          1  0.11764706
yogeshpandey1/pharma-sales-hourly                           Pharma sales hourly                              430KB  2023-05-03 09:35:26              6          0  0.11764706
bakasas/pharmaceutical-sales                                Pharmaceutical Sales                               2MB  2023-09-23 15:26:32              8          0  0.23529412
osamamohmed/data-analysis-presentation-of-pharmacies-sales  data analysis presentation of pharmacies sales    15MB  2023-08-19 07:41:11              4          0  0.125
galinaxoteenkova/pharma-sales                               pharma_sales                                     554MB  2022-01-13 19:12:53            189          4  0.23529412

### Wybieram bazę z nawyższym usability i pobieram ją

In [38]:
!kaggle datasets download -d milanzdravkovic/pharma-sales-data

pharma-sales-data.zip: Skipping, found more recently modified local copy (use --force to force download)

In [39]:
# Rozpakowuję zipa
with zipfile.ZipFile('pharma-sales-data.zip', 'r') as zipref: 
    zipref.extractall()

In [40]:
df_hourly = pd.read_csv('saleshourly.csv')
df_daily = pd.read_csv('salesdaily.csv')
df_weekly = pd.read_csv('salesweekly.csv')
df_monthly = pd.read_csv('salesmonthly.csv')

### Sprawdzam jak wyglądają dane

In [41]:
df_hourly.head()

,datum,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
0,1/2/2014 8:00,0.00,0.67,0.40,2.00,0.00,0.00,0.00,1.00,2014,1,8,Thursday
1,1/2/2014 9:00,0.00,0.00,1.00,0.00,2.00,0.00,0.00,0.00,2014,1,9,Thursday
2,1/2/2014 10:00,0.00,0.00,0.00,3.00,2.00,0.00,0.00,0.00,2014,1,10,Thursday
3,1/2/2014 11:00,0.00,0.00,0.00,2.00,1.00,0.00,0.00,0.00,2014,1,11,Thursday
4,1/2/2014 12:00,0.00,2.00,0.00,5.00,2.00,0.00,0.00,0.00,2014,1,12,Thursday

In [42]:
df_daily.head()

,datum,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
0,1/2/2014,0.00,3.67,3.40,32.40,7.00,0.00,0.00,2.00,2014,1,248,Thursday
1,1/3/2014,8.00,4.00,4.40,50.60,16.00,0.00,20.00,4.00,2014,1,276,Friday
2,1/4/2014,2.00,1.00,6.50,61.85,10.00,0.00,9.00,1.00,2014,1,276,Saturday
3,1/5/2014,4.00,3.00,7.00,41.10,8.00,0.00,3.00,0.00,2014,1,276,Sunday
4,1/6/2014,5.00,1.00,4.50,21.70,16.00,2.00,6.00,2.00,2014,1,276,Monday

In [43]:
df_weekly.head()

       datum  M01AB  M01AE  N02BA  N02BE  N05B  N05C   R03   R06
0   1/5/2014  14.00  11.67  21.30 185.95 41.00  0.00 32.00  7.00
1  1/12/2014  29.33  12.68  37.90 190.70 88.00  5.00 21.00  7.20
2  1/19/2014  30.67  26.34  45.90 218.40 80.00  8.00 29.00 12.00
3  1/26/2014  34.00  32.37  31.50 179.60 80.00  8.00 23.00 10.00
4   2/2/2014  31.02  23.35  20.70 159.88 84.00 12.00 29.00 12.00

In [50]:
df_monthly.head()

        datum  M01AB  M01AE  N02BA   N02BE   N05B  N05C    R03    R06
0  2014-01-31 127.69  99.09 152.10  878.03 354.00 50.00 112.00  48.20
1  2014-02-28 133.32 126.05 177.00 1001.90 347.00 31.00 122.00  36.20
2  2014-03-31 137.44  92.95 147.66  779.27 232.00 20.00 112.00  85.40
3  2014-04-30 113.10  89.48 130.90  698.50 209.00 18.00  97.00  73.70
4  2014-05-31 101.79 119.93 132.10  628.78 270.00 23.00 107.00 123.70

### Sprawdzam czy występują duplikaty duplikaty

In [45]:
df_hourly.shape, df_daily.shape, df_weekly.shape, df_monthly.shape

((50532, 13), (2106, 13), (302, 9), (70, 9))

In [46]:
df_hourly.drop_duplicates()
df_daily.drop_duplicates()
df_weekly.drop_duplicates()
df_monthly.drop_duplicates()
df_hourly.shape, df_daily.shape, df_weekly.shape, df_monthly.shape

((50532, 13), (2106, 13), (302, 9), (70, 9))

### Brak duplikatów
### Sprawdzanie pustych danych

In [47]:
df_hourly.isna().sum(), df_daily.isna().sum(), df_weekly.isna().sum(), df_monthly.isna().sum()

(datum           0
 M01AB           0
 M01AE           0
 N02BA           0
 N02BE           0
 N05B            0
 N05C            0
 R03             0
 R06             0
 Year            0
 Month           0
 Hour            0
 Weekday Name    0
 dtype: int64,
 datum           0
 M01AB           0
 M01AE           0
 N02BA           0
 N02BE           0
 N05B            0
 N05C            0
 R03             0
 R06             0
 Year            0
 Month           0
 Hour            0
 Weekday Name    0
 dtype: int64,
 datum    0
 M01AB    0
 M01AE    0
 N02BA    0
 N02BE    0
 N05B     0
 N05C     0
 R03      0
 R06      0
 dtype: int64,
 datum    0
 M01AB    0
 M01AE    0
 N02BA    0
 N02BE    0
 N05B     0
 N05C     0
 R03      0
 R06      0
 dtype: int64)

### Brak pustych danych
### Jedna rzecz która widzę, że moze ona przeszkadzać to datum w df_hourly zawiera również godzinę co może utrudniać późneij sprawę przy łączeniu tch baz. Pozbędę sie po prostu części godzinowaje ponieważ ona i tak ma swoją kolumnę.

In [48]:
df_hourly['datum'] = df_hourly['datum'].str.split(' ').str[0]


df_hourly.head()

,datum,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
0,1/2/2014,0.00,0.67,0.40,2.00,0.00,0.00,0.00,1.00,2014,1,8,Thursday
1,1/2/2014,0.00,0.00,1.00,0.00,2.00,0.00,0.00,0.00,2014,1,9,Thursday
2,1/2/2014,0.00,0.00,0.00,3.00,2.00,0.00,0.00,0.00,2014,1,10,Thursday
3,1/2/2014,0.00,0.00,0.00,2.00,1.00,0.00,0.00,0.00,2014,1,11,Thursday
4,1/2/2014,0.00,2.00,0.00,5.00,2.00,0.00,0.00,0.00,2014,1,12,Thursday

In [53]:
df_hourly.to_csv('saleshourly.csv', float_format='%.2f') # nadpisuje wcześniejszy plik
df_daily.to_csv('salesdaily.csv', float_format='%.2f') # nadpisze też resztę plików dla pewności, żeby wszystkie maiały tylko dwa miejsca po przecinku, bo może nie tylko salesmonthly to ma
df_weekly.to_csv('salesweekly.csv', float_format='%.2f')
df_monthly.to_csv('salesmonthly.csv', float_format='%.2f')

### Do pracy w Tableau użyję pliku saleshourly.csv ponieważ zawiera najdokładniejsze dane ze wszystkich i są to te same dane co w innych plikach, więc nie ma sensu pracować na wielu plikach chyba że odkryję że coś będzie mi potrzebne z innych plików dla tego wstepnie je zapisałem ale sama praca bedzie na saleshourly.csv.